@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-slate-200 antialiased selection:bg-accent-cyan selection:text-dark;
    background-image: radial-gradient(circle at 50% -20%, #171717 0%, transparent 50%),
                      radial-gradient(circle at -20% 50%, #000000 0%, transparent 50%);
    min-height: 100vh;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass-bg border border-glass-border backdrop-blur-xl rounded-2xl shadow-[0_8px_32px_0_rgba(0,0,0,0.36)];
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700/50 rounded-full hover:bg-slate-600;
  }
}
